<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.t2010a.javashopping.controller.user.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeAdmin</servlet-name>
        <servlet-class>com.t2010a.javashopping.controller.admin.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeAdmin</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateProductAdmin</servlet-name>
        <servlet-class>com.t2010a.javashopping.controller.admin.product.CreateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProductAdmin</servlet-name>
        <url-pattern>/admin/products/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListProductAdmin</servlet-name>
        <servlet-class>com.t2010a.javashopping.controller.admin.product.ListProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListProductAdmin</servlet-name>
        <url-pattern>/admin/products/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProductAdmin</servlet-name>
        <servlet-class>com.t2010a.javashopping.controller.admin.product.EditProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductAdmin</servlet-name>
        <url-pattern>/admin/products/edit</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>DetailProductAdmin</servlet-name>
    <servlet-class>com.t2010a.javashopping.controller.admin.product.DetailProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetailProductAdmin</servlet-name>
        <url-pattern>/admin/products/detail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProductAdmin</servlet-name>
        <servlet-class>com.t2010a.javashopping.controller.admin.product.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductAdmin</servlet-name>
        <url-pattern>/admin/products/delete</url-pattern>
    </servlet-mapping>
</web-app>